@{
   ConnectDB obj = new ConnectDB(); 
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

        @{
          //obj.getAuth("ahmed_adel","ahmed_adel");
          
         List<string> list = new List<string>();
         string [] arr = new string[3];
         arr[0]="user_id";
         arr[1]="userName";
         arr[2]="student_id"; 
         list=(obj.Select("SELECT `user_id`, `userName`, `userPass`, `student_id`, `stuff_id` FROM `users` WHERE `userName` = 'ahmed_adel'",arr));
         foreach(string li in list){
             <h1> @li </h1>
         }
      
        }
    </body>
</html>
